@import url('https://fonts.googleapis.com/css?family=Heebo:300,500&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: lightblue;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: lightblue;
  --secondary-color: #333;
  background-color: #111;
  color: var(--primary-color);
}

body {
  background-color: var(--secondary-color);
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  position: relative;
  /* width: 270px; */
  /* height: 270px; */
  width: 70vh;
  height: 70vh;
  background-color: transparent;
  /* justify-self: center; */
  /* align-self: center; */
  margin: auto;
}

.number {
  background-color: transparent;
  color: var(--primary-color);
  /* height: 2rem; */
  /* width: 2rem; */
  height: 4rem;
  width: 4rem;
  font-size: 2rem;

  /* align-items: center; */
  text-align: center;
  vertical-align: middle;
  line-height: 4rem;
  /* justify-content: center; */
  /* padding: .25rem .25rem; */
  /* padding: 1rem; */
}

.number#twelve {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number#three {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(50%, -50%);
}

.number#six {
  position:absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.number#nine {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 3px; */
  width: 5px;
  transform-origin: bottom center;
  /* transition: all 0.5s ease-in; */
}

.needle#hour {
  /* height: 65px; */
  height: 30%;
  width: 10px;
  /* width: 5px; */
}

.needle#minute {
  /* height: 100px; */
  height: 45%;
}

.needle#second {
  /* height: 100px; */
  height: 45%;
  background-color: #e74c3c;
}

.center-point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e74c3c;

  /* height: 10px; */
  /* width:10px; */
  height: 20px;
  width: 20px;

  border-radius: 50%;
  z-index: 100;
}

.center-point::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  height: 5px;
  width:5px;
  border-radius: 50%;
  z-index: 100;
}

.time {
  font-size: 60px;
  margin-top: 2rem;
}

.ampm {
  font-size: 30px;
}

.date {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 18px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  transition: all 0.5s ease-in;
  font-size: 12px;
}

